* {
    font-family: "M PLUS Rounded 1c",
      Avenir
        Next,
      Helvetica,
      sans-serif;
    color: white;
    font-size: .76rem;
  }

:root {
  --bg-color: #8990ec;
  --wrapper-color: #272639;
  --acent-color: #a5abfe;
  --result-box-color: #171721;
}

body {
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  /* no scroll bar */
  overflow: hidden;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--acent-color);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.wrapper {
  height: 87vh;
  width: 85%;
  color: white;
  background: #272639;
  border-radius: 1rem;
  padding: 1.2rem;
  padding-top: 2rem;
  margin-top: 4em;
  margin-bottom: 0;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#topContainer {
  margin-top: 3rem;
}

.container {
  margin-top: 1.4rem;
}


.results {
  margin-top: 2rem;
  overflow: auto;
  height: 21rem;
}

.title {
  font-weight: bold;
  display: flex;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.inputContainer {
  background: #353959;
  border-radius: 2rem;
  padding: 0
    0.8rem;
  display: flex;
  align-items: center;
}

#IdInput {
  font-size: 1.4rem;
  background: none;
  border: none;
  outline: none;
  padding: none;
  width: 100%;
}



.buttonContainer {
  background: var(--acent-color);
  display: grid;
  place-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.buttonContainer:hover, .button:hover {
  background: #787ba7;
  cursor: pointer;
}

.splitButton {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  /* center text */
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  align-items: center;
  /* keep everythig in a fixed position */
  
}

.splitButton {
  font-size: 0.8rem;
  font-weight: bold;
  display: grid;
  place-items: center;
}

.buttonText {
  color: #353959;
}

.splitAmount {
  font-size: 1.6rem;
  margin: 0.8rem;
}

#bottom {
  display: flex;
  justify-content: space-between;
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--acent-color);
  margin: 1.2rem 0;
}

#Tital {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
  
  display: flex;
  justify-content: center;
}

.button {
  background: var(--acent-color);
  display: grid;
  place-items: center;
  width: 40%;
  height: 4rem;
  border-radius: 25px;
  cursor: pointer;
  font-size: 2rem;
  margin-top: 3.6rem;
}

span {
  font-size: 1.5rem;
}

.resultContainer {
  /* make dark coulor */
  background: #171721;
  border-radius: 1rem;
  padding: 1.2rem;
  margin-top: 1.4rem;
  height: 170px;
  overflow: auto;
  box-shadow: inset 0 0 10px #000;
}